<!-- <header>
  <nav class="h-full fixed top-0 left-0 bottom-0 bg-cyan-700 w-40 mat-typography">
    <div class="flex flex-col">
      <button class="flex flex-row mt-4 items-stretch py-2"
              type="button"
              mat-stroked-button>
        <mat-icon>event</mat-icon>
        <span>Moje terminy</span>
      </button>
    </div>

    <div class="flex flex-col">
      <button class="flex flex-row mt-4 items-stretch py-2"
              type="button"
              mat-stroked-button
              routerLink="/new-event"
              routerLinkActive="active"
              ariaCurrentWhenActive="page">
        <mat-icon>calendar_add_on</mat-icon>
        <span>Nowy termin</span>
      </button>
    </div>
  </nav>
</header> -->

<body class="mat-typography mat-app-background">
  <div class="w-full h-full flex justify-center content-center">
    <app-main-page></app-main-page>
    <app-new-event></app-new-event>
  </div>
</body>
<!-- <router-outlet></router-outlet> -->