<div class="w-full h-full bg-zinc-700 flex justify-center content-center">

  <mat-card class="w-80 h-80 text-white">
    <mat-card-header>
      <mat-card-title>Siatkówka</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
      <mat-form-field class="mt-4">
        <mat-label>Kod zapisów</mat-label>
        <input matInput placeholder="XXX-YYY">
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button-stroked>Utwórz termin</button>
    </mat-card-actions>

  </mat-card>
</div>


<router-outlet></router-outlet>